@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Regular;
  src: url('../../public/PPGatwick-Regular.otf');
}

body{
  font-family: Regular;
  background-color: white;
}

/* Default scrollbar style for light theme */
html {
  scrollbar-width: thin;  /* Firefox */
  scrollbar-color: #888 #f1f1f1;  /* Firefox */
}

/* WebKit browsers */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}